service: serverless-plugin-python

custom:
  lumigo:
    token: t_b9222642efc14985baaed
    skipReqCheck: true

provider:
  name: aws
  runtime: python3.7
  environment:
    LUMIGO_DEBUG: "TRUE"
    LUMIGO_TRACER_HOST: "test.execute-api.us-west-2.amazonaws.com"

functions:
  test:
    handler: handler.hello

  test-with-numbers:
    handler: 01_handler_with_numbers.hello

plugins:
  - ./../../src/index
  - serverless-python-requirements
