service: serverless-plugin-python-layers

custom:
  lumigo:
    token: 1234
    useLayers: true

provider:
  name: aws
  runtime: python3.7
  environment:
    LUMIGO_DEBUG: "TRUE"

functions:
  test:
    handler: handler.hello

plugins:
  - ./../../src/index
  - serverless-python-requirements
