version: 2.1

workflows:
  build-deploy:
    jobs:
      - build:
          context:
            - common
            - node.js

      - deploy:
          context:
            - common
            - node.js
          filters:
            branches:
              only: master
          requires:
            - build

jobs:
  build:
    docker:
      - image: cimg/node:16.13.2
    working_directory: ~/serverless-lumigo-plugin
    steps:
      - checkout
      - run: wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
      - run: bash miniconda.sh -b -p $HOME/miniconda
      - run: echo 'export PATH=$PATH:$HOME/miniconda/bin' >> $BASH_ENV
      - run: conda install python==3.7
      - run: conda install virtualenv
      - run: npm ci
      - run: npm install pnpm
      - run: npm run test:all
      - run: npm run codecov

  deploy:
    docker:
      - image: cimg/node:16.13.2
    working_directory: ~/serverless-lumigo
    steps:
      - checkout
      - run: npm ci
      - run: npm run test
      - run: npm run codecov
      - run:
          name: release
          command: |
            release_output=$(npm run semantic-release)
            echo "$release_output"
            echo $release_output | grep "Published release" || exit 1
