version: 2

jobs:
  build:
    docker:
      - image: circleci/node:10.16.0
    working_directory: ~/serverless-lumigo
    steps:
      - checkout
      - run: wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
      - run: bash miniconda.sh -b -p $HOME/miniconda
      - run: pushd $HOME/miniconda/bin && ./pip install virtualenv && popd
      - run: export PATH=$PATH:$HOME/miniconda/bin
      - run: npm ci
      - run: npm run test:all
      - run: npm run codecov

  deploy:
    docker:
      - image: circleci/node:10.16.0
    working_directory: ~/serverless-lumigo
    steps:
      - checkout
      - run: npm ci
      - run: npm run test
      - run: npm run codecov
      - run: npm run semantic-release

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              ignore: master

  build_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              only: master
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
